<!doctype html>
<html lang="en">
 <head>
 	
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 {% load static %}
     <link rel="stylesheet" href="{% static "MapsApp/css/style.css" %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 </head>
 <body >

 	<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">Acasa</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/aplicatie1">Aplicatie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/despre">Despre</a>
  </li>
</ul>

<div class="insert noselect border" name="Insert div">

  <div>
Alegeti modul de a introduce descrierea:
      <select id="textMode" class="browser-default custom-select" onchange="switch_mode()">
  <option selected value="textbox">Textbox</option>
  <option value="upload">Upload text(.txt)</option>
</select>
  </div>
  
  <div id="textbox" class="textbox">

  <form id="textbox_form" action="/textbox_upload" enctype="multipart/form-data" method="POST">
      {% csrf_token %}

      <div class="form-group">
    <label for="formGroupExampleInput">Orasul corespunzator traseului:</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" name="orasTextbox">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Aici veti introduce descrierea traseului:</label>
  <textarea class="form-control" id="exampleFormControlTextarea1"  name="descriere"></textarea>
  </div>
  <p></p>
  <button type="submit" class="btn btn-primary mb-2">Genereaza traseul</button>
</form>

</div>

<div id="uploadbox" class="uploadbox">
<form id="upload_form" action="/textfile_upload" enctype="multipart/form-data" method="POST">{% csrf_token %}
   <div class="form-group">
    <label for="formGroupExampleInput">Orasul corespunzator traseului:</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" name="orasUpload">
  </div>
  <p>Introduceti un fisier text(.txt) valid pentru a genera traseul.</p>
     <div class="form-group">
<div class="custom-file">
    <input type="file" class="custom-file-input" id="textFile" onchange="check_upload()" name="file">
    <label class="custom-file-label" for="inputGroupFile01">Alege fisierul...</label>
  </div>
  <p></p>
      <button id="uploadButton" type="submit" class="btn btn-primary mb-2">Genereaza traseul</button>
    <p id="checkMessage"></p>
    <p></p>
  </div>
</form>

</div>

</div>

<script>

function switch_mode()
{
 var textMode=(document.getElementById("textMode")).options[(document.getElementById("textMode")).selectedIndex].value;

 var textbox=document.getElementById("textbox");

 var upload=document.getElementById("uploadbox");

 if(textMode=="upload")
 {
  textbox.style.display="none";
  upload.style.display="block";
 }
 else if(textMode="textbox")
 {
  textbox.style.display="block";
  upload.style.display="none";
 }

}

function check_upload()
{
  var fileName=document.getElementById("textFile").value;
  var checkMessage=document.getElementById("checkMessage");
  var uploadButton=document.getElementById("uploadButton");

  if(fileName!= "") {
     var extension=fileName.split('.').pop();
     console.log(extension);
     if(extension=="txt")
     {
       checkMessage.className="";
       checkMessage.innerHTML="Fisierul introdus este valid!";
       checkMessage.classList.add("text-success");
       uploadButton.disabled=false;
     }

     else
     {
      checkMessage.className="";
       checkMessage.innerHTML="Fisierul introdus nu este valid!";
       checkMessage.classList.add("text-warning");
       uploadButton.disabled=true;
     }
  }

  else
  {
    checkMessage.className="";
       checkMessage.innerHTML="Fisierul introdus nu este valid!";
       checkMessage.classList.add("text-warning");
       file.disabled=true; 
  }
}
</script>

 </body>
</html>